*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 20px;
}

  body::-webkit-scrollbar{
    width: 0.25rem;
   }
   body::-webkit-scrollbar-track{
    background: grey
   }
   body::-webkit-scrollbar-thumb{
    background: hsl(0, 1%, 70%);
   }
   .profile-pic{
    width: 50px;
    border-radius: 100%;
    border: 1px solid green;
   }
   .sidebar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: hsl(0, 2%, 10%);
    padding: .4rem .8rem ;
    transition: all 0.5s ease;
   }
   .sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);

   }
   .sidebar.active{
    width: 250px;
   }
   .sidebar #btn{
    position: absolute;
    color: rgb(255, 255, 255);
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
   }
   .sidebar.active #btn{
    left: 90%;
   }
   .sidebar .top .logo{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
   }
   .sidebar.active .top .logo{
    opacity: 1;
   }
   .top .logo i {
    font-size:  2rem;
    margin-right: 5px;
   }
   
   
   
   .sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
   }
   .sidebar ul li a{
    color:  white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
   }
   .sidebar ul li a:hover {
    background-color: white;
    color: black;
   }
   .sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
   }
   .sidebar .nav-item{
    opacity: 0;
   }
   .sidebar.active .nav-item{
    opacity: 1;
   }
   .sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgb(0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
   }
   .sidebar ul li:hover .tooltip{
    opacity: 1;
   }
   .sidebar.active ul li .tooltip{
    display: none;
   }
   .main-content{
    position: relative;
    background-color: hsl(0, 0%, 40%);
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
   }

   