h1 {
  color: gray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
#sex {
  width: 200px;
  height: 200px;
  background:  grey;
  text-align: end;
  test
  
  
}